@use 'theme';

.newJobForm {
  div {
    margin-bottom: 0.8rem;
  }
  .formFooter {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0.5rem 0 0;
  }
  .inputLabelError {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .errorMsg {
      color: rgb(218, 0, 0);
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
  .helperText {
    font-size: 0.75rem;
    color: theme.$gray-900;
  }
}
