@use 'theme';

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  background-color: theme.$gray-100;
  border-radius: 5px;
  padding: 1rem;
}
.container {
  width: 100%;
}
.dragactive {
  box-shadow: inset 0rem 0rem 0rem 3px theme.$brand-100;
}
.dragcomplete {
  background-color: rgba(12, 12, 12, 0.541);
}
