@use 'theme';

.boxContainer {
  width: 100%;
  position: relative;
  ul {
    position: absolute;
    top: 2.75rem;
    left: 0;
    right: 0;
    box-shadow: theme.$dropdown-shadow;
    overflow-y: auto;
    overflow-x: hidden;
    // border: solid 1px theme.$gray-500;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    max-height: 150px;
    &.focused {
      display: block;
    }
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.35rem 0.6rem;
      z-index: 10;

      // border-bottom: 1px solid theme.$gray-500;
      min-height: 42px;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: theme.$brand-50;
      }
      &:focus {
        background-color: theme.$brand-50;
      }
      .nameContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        .companyName {
          margin-left: 0.5rem;
        }
      }
      .domain {
        color: theme.$gray-900;
      }
    }
  }
  .searchBox {
    position: relative;
    margin: 0;
    span.companyLogo {
      position: absolute;
      right: 12px;
      top: 6px;
    }
  }
}
