@use 'theme';

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: theme.$nav-height;
  background-color: white;
  box-shadow: theme.$drop-shadow-nav;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li {
      // display: inline-block;
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
      border-bottom: 2px solid theme.$brand-400;
      font-weight: 500;
    }
  }
}
