@use 'theme';

.card {
  width: 100%;
  cursor: pointer !important;
  .cardContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    background-color: white;
    border-radius: 5px;
    padding: 0.8rem 0.6rem;
    box-shadow: theme.$card-shadow;
    transition: background-color 0.1s ease-in;
    .cardCompany {
      display: flex;
      font-size: 0.9rem;
      .companyName {
        font-weight: 500;
      }
      .cardText {
        margin-left: 0.5rem;
      }
    }
    .deleteBtn {
      // display: none;
      visibility: hidden;

      cursor: pointer;
    }
    &:hover {
      background-color: theme.$gray-250;
      // border: 1px solid theme.$gray-500;
      // border-color: theme.$gray-500;
      .deleteBtn {
        visibility: visible;
        // display: inline-block;
      }
    }
  }
  margin-bottom: 0.8rem;
}
.drag {
  .cardContent {
    box-shadow: 5px 10px 30px 5px theme.$gray-500;
    transform: rotateZ(3deg);
  }
}
