@use 'theme';

.card {
  width: 100%;
  .cardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 5rem;
    background-color: white;
    border-radius: 5px;
    padding: 0.8rem;
    box-shadow: 0 2px 2px theme.$gray-500;
    .deleteBtn {
      display: none;
      cursor: pointer;
    }
    &:hover {
      background-color: theme.$gray-250;
      // border: 1px solid theme.$gray-500;
      // border-color: theme.$gray-500;
      .deleteBtn {
        display: inline-block;
      }
    }
  }
  margin-bottom: 0.8rem;
}
.drag {
  .cardContent {
    box-shadow: 5px 10px 30px 5px theme.$gray-500;
    // box-shadow: 0 5px 20px theme.$gray-500;
    // border-width: 3px;
    // border-color: rgba(108, 45, 255, 0.692);
    transform: rotateZ(3deg);
  }
}
