@use 'theme';

.heading {
  font-weight: 600;
  color: theme.$black-font;
  margin-bottom: 0.8rem;
}
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  background-color: theme.$gray-100;
  border-radius: 5px;
  padding: 1.4rem 0 0;
}
