@use 'theme';

.grid2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .infoContainer {
    // flex-basis: 50%;
    width: 230px;
  }
}
.infoContainer {
  margin-bottom: 0.8rem;
  .infoLabel {
    color: theme.$black-font;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
  .infoData {
    text-transform: capitalize;
  }
}
.desc {
  white-space: pre-line;
}

.linkPills {
  display: inline-block;
  font-size: 0.9rem;
  max-width: 100%;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0.3rem 5px 0.3rem 0;
  padding: 3px 10px;
  // text-align: center;
  // margin: 0.2rem;
  border-radius: 1rem;
  background-color: theme.$brand-100;
  color: theme.$brand-500;
}
