@use 'theme';

.grid2 {
  display: flex;
  justify-content: center;
  align-items: center;
  .infoContainer {
    flex-basis: 50%;
  }
}
.infoContainer {
  margin-bottom: 0.8rem;
  .infoLabel {
    color: theme.$black-font;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
  .infoData {
    text-transform: capitalize;
  }
}
