@use 'base';
@use 'theme';
@import-normalize;

main {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  padding-top: theme.$nav-height + 1rem;
}
.unavailable {
  font-weight: 500;
  color: theme.$gray-900;
}
::-webkit-scrollbar {
  width: 11px;
  padding: 0;
  height: 14px;
  border: 1px solid transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 1px solid transparent;

  border: 4px solid transparent;
  box-shadow: inset 0 0 10px 10px rgb(25 4 69 / 15%);
  background-color: transparent;
}
:-webkit-scrollbar-track {
  background-color: transparent;
  border: 4px solid transparent;
}
.primary {
  &.btn {
    display: inline-block;
    color: theme.$brand-50;
    background-color: theme.$brand-400;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: theme.$brand-500;
    }
  }
}
.secondary {
  &.btn {
    display: inline-block;
    color: theme.$brand-600;
    background-color: theme.$brand-50;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: theme.$brand-100;
    }
  }
}
label.required:after {
  content: '*';
  color: red;
}
input[type='text'] {
  background-color: theme.$gray-100;
  padding: 0.7rem 0.6rem;
  margin: 0.4rem 0;
  border: none;
  border: 1px solid theme.$gray-500;
  border-radius: 5px;
  &:focus {
    outline: none;
    border-color: theme.$brand-400;
    box-shadow: 0 0 0 1px theme.$brand-400;
  }
  &:invalid {
    box-shadow: 0 0 0 3px theme.$invalid-red;
  }
  &.w-100 {
    display: block;
    width: 100%;
  }
}
.search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    position: absolute;
    right: 12px;
  }
}

.counter {
  font-size: 0.8rem;
  width: 34px;
  padding: 3px;
  text-align: center;
  margin: 0 0.3rem;
  border-radius: 1rem;
  background-color: theme.$brand-100;
  color: theme.$brand-500;
}
