$nav-height: 3rem;
$padding-card: 1rem;
$padding-form: 2rem 1rem;

$brand-50: #eceef8;
$brand-100: #d9ddf2;
$brand-200: #b0b7e3;
$brand-300: #8a95d6;
$brand-400: #6070c8;
$brand-500: #3f51b5;
$brand-600: #324090;
$brand-700: #26316e;
$brand-800: #192048;
$brand-900: #0d1126;

$invalid-red: #e78c8c;

$gray-100: rgb(245, 245, 245);
$gray-200: rgb(240, 240, 240);
$gray-250: rgb(235, 235, 235);
$gray-300: #e6e6e6;
$gray-500: #d6d6d6;
$gray-900: #808080;

$black-font: #252525;

$drop-shadow-nav: 0px 0px 10px 0px $gray-500;
$card-shadow: 0 2px 2px $gray-500;
$drop-shadow: rgb(25 4 69 / 10%) 0px 3px 10px;

// 50: '#ECEEF8',
// 100: '#D9DDF2',
// 200: '#B0B7E3',
// 300: '#8A95D6',
// 400: '#6070C8',
// 500: '#3F51B5',
// 600: '#324090',
// 700: '#26316E',
// 800: '#192048',
// 900: '#0D1126',
